<div class="row">
<%= link_to tool.url,:target=>"blank" do %>
  <h3>
  	<%= tool.title%> 
  	<%= tool.get_upvotes.size %>
    <% if tool.find_votes_for(:voter => current_user).size == 0 %>
      <%= link_to like_tool_path(tool), method: :put, class: "" do %>
      <span class="glyphicon glyphicon-arrow-up" 
            style="color: rgb(222, 79, 34); font-size:24px;">
      </span> 
      <% end %>
   
    <% else %>
    <%= link_to like_tool_path(tool), method: :put, class: "" do %>
      <span class="glyphicon glyphicon-arrow-up" 
            style="color: rgb(255, 133, 52);font-size:24px;">
      </span> 
      <% end %>
    
    <%end%>
  </h3>
<% end %>
</div>

<div class = "row">
  <span class="comment">
    <%= link_to 'Discuss',tool_path(tool)  %>
  </span>
  <span class="postedby">
     Posted by:
    <%= link_to tool.user.username, user_path(tool.user) %>
  </span>

  <span class="posteddate">
    
	 <%=date_posted(tool.created_at)%>
  </span> 

	
  

	
</div>

