<div class="container-fluid">
	<div class="row">
		<%if params[:query] != nil%>
		<%=link_to 'All tools',tools_path%>
	<%end%>
	</div>	
	
	<div class="row">
		<div class="col-md-3 col-xs-3">
		<%=link_to 'Submit', new_tool_path,:class => "submitlink input-block-level btn btn-primary btn-block"%>
		</div>
		<%= form_tag tools_path, method: :get do %>
    
   <div class= "col-md-7 col-xs-6 searchfield" >
    <%= text_field_tag :query, params[:query],
    		:autocomplete => :off,:placeholder => "Search ",:class => "searchfield input-block-level form-control" %> 
    </div>		
    <div class= "col-md-1 col-xs-1 searchbutton">
  	<%= submit_tag "Search",value: "Search", name: nil,class: "btn " %>
  	</div>
<% end %>
</div>


<%= render @tools%>
</div>
