<%= form_for @tool do |f|%>
	<div class="form-group">
		<%=f.label 'Submit a tool or a library'%>	
	</div>
	<div class="form-group">
	
	<%= f.text_field :title,placeholder:'Title',class:'form-control'%>
	</div>
	
	<div class="form-group">
	
	<%= f.text_field :url,placeholder:'Link to the tool or library',class:'form-control'%>
	</div>

	<div class="form-group">
	
	<%= f.text_area :desc,placeholder:'Enter a description for this tool or library',class:'form-control'%>
	</div>

	<div class="form-group">
  <%= f.submit 'Submit', class:'btn btn-primary'%>
	</div>
	
<% end%>