<div class="container-fluid">
	<div class= "row">
		<%= link_to 'Back', tools_path %>
	</div>

	<div class="row show">
	<p id="notice"><%= notice %></p>
  	<%= render @tool  %>
	</div>

<%= render 'comments/form'%>
<%= render 'comments/comments'%>

</div>
