<div class="container-fluid">
	<div class= "row">
		<%= link_to 'Back', tools_path %>
	</div>

	
	<p id="notice"><%= notice %></p>
  	<%= render @tool  %>
	

<%= render 'comments/form'%>
<%= render 'comments/comments'%>

</div>
