<div class="container-fluid">
	<div class="row header">
	
	</div>
	
	<p>
	<%= @user.username%>
	<p>Twitter:
		<%= @user.twitter%>
	</p>
	<p>Linkedin:
	<%= @user.linkedin%>
	</p>
</div>



<div>
<p>News Items</p>
<%= render @user.news_items%>
</div>

<div>
<p>Review Requests:</p>
<%= render @user.review_requests%>
</div>

<div>
<p>Tools:</p>
<%= render @user.tools%>
</div>

<div>
<p>Tutorials:</p>
<%= render @user.tutorials%>
</div>

