<div class="container-fluid userprofile">
	<div class="user_header">
		<div class="row">
			
			<div class ="col-md-2 ">
				<%= image_tag @user.image,:class=>"circular"%>
			</div>
			
			<div class ="col-md-4 ">
				<div>
					<% if !@user.name.nil? %>
						<span id="user_name">
							<%= @user.name%>
						</span>	
					<%end%>
				</div>	
				
				<div>
					<% if !@user.twitter.nil? %>
						<%= link_to @user.twitter,:target=>'blank' do %>
							<span id="twitterlink">
								<%= "@#{@user.username}"%>
							</span>	
						<%end%>
					<%else%>
						<span id="username">
								<%= @user.username%>
						</span>	
					<%end%>
				</div>
				<div>
					<% if !@user.linkedin.nil?%>
						<span id="linkedinlogo">
							<%=link_to 'Linkedin', @user.linkedin%>	
						</span>
					<%end%>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="col-md-1">
			<%= link_to'Comments',user_path(@user,:s=>'comments')%>
		</div>
		
		<div class="col-md-1">
			<%= link_to'Upvotes',user_path(@user,:s=>'upvotes')%>
		</div>

		<div class="col-md-1">
			Submissions
		</div>

	</div>
	<div class="row">
		<%if !@comments.nil?%>
			<div class="col-md-12">
				<%= render @comments%>
			</div>
		<%end%>


</div>

