<div class="container-fluid userprofile">
	<div class="row user_header">
		<div class ="col-md-6 col-centered">
			<span id="username">
				<%= @user.username%>
			<span>	
			
			<span id="twitterlogo">
				<%=link_to 'Follow on twitter',@user.twitter%>
			<span>	
			<span id="linkedinlogo">
				<%=link_to 'Linkedin', @user.linkedin%>
				
			</span>
	</div>
	
</div>
UPVOTED, COMMENTED, POSTED.
<div class="row">

<div class="col-md-3">
	News Items
	<%= render @user.news_items%>
</div>

<div class="col-md-3">
	Review Requests
	<%= render @user.review_requests%>
</div>
<div class="col-md-3">
		Tools:
		<%= render @user.tools%>
	</div>

<div class="col-md-3">
Tutorials:
<%= render @user.tutorials%>
</div>

</div>









