<div class="container-fluid userprofile">
	<div class="user_header">
		<div class="row">
			
			<div class ="col-md-2 ">
				<%= image_tag @user.image,:class=>"circular"%>
			</div>
			
			<div class ="col-md-4 ">
				<div>
					<% if !@user.name.nil? %>
						<span id="user_name">
							<%= @user.name%>
						</span>	
					<%end%>
				</div>	
				
				<div>
					<% if !@user.twitter.nil? %>
						<%= link_to @user.twitter,:target=>'blank' do %>
							<span id="twitterlink">
								<%= "@#{@user.username}"%>
							</span>	
						<%end%>
					<%else%>
						<span id="username">
								<%= @user.username%>
						</span>	
					<%end%>
				</div>
				<div>
					<% if !@user.linkedin.nil?%>
						<span id="linkedinlogo">
							<%=link_to 'Linkedin', @user.linkedin%>	
						</span>
					<%end%>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			News Items
			<%@news_upvoted.each do |news_item|%> 
			<%= render news_item%>
			<%end%>
		</div>

		<div class="col-md-3">
			Tutorials:
			<%@tutorials_upvoted.each do |tutorial|%> 
			<%= render tutorial%>
			<%end%>				
		</div>
		
		<div class="col-md-3">
				Tools:
				<%@tools_upvoted.each do |tool|%> 
			<%= render tool%>
			<%end%>
		</div>
	
	</div>

</div>

