
<div class = "row">
	<%= link_to tutorial.url,:target=>"blank" do %>
  <h3>
  	<%= tutorial.title%> 
  	<%= tutorial.get_upvotes.size %>	
	
		<% if tutorial.find_votes_for(:voter => current_user).size == 0 %>
  		<%= link_to like_tutorial_path(tutorial), method: :put, class: "" do %>
    	<span class="glyphicon glyphicon-arrow-up" 
    				style="color: rgb(222, 79, 34); font-size:24px;">
    	</span> 
    	<% end %>
   
    <% else %>
    <%= link_to like_tutorial_path(tutorial), method: :put, class: "" do %>
    	<span class="glyphicon glyphicon-arrow-up" 
    				style="color: rgb(255, 133, 52);font-size:24px;">
    	</span> 
      <% end %>
    <%end%>
  
  </h3>
<% end %>
</div>

<div class = "row">
  <span class="comments">
     
      <%= link_to 'Discuss',tutorial_path(tutorial)  %>
  </span>
  <span class="postedby">
     Posted by:
      <%= link_to tutorial.user.username, user_path(tutorial.user) %>
  </span>
  <span class="posteddate">
    
	 <%=date_posted(tutorial.created_at)%>
	</span>
	
</div>
