
<div class = "row">
  <div class="col-md-10 ">
	<%= link_to tutorial.url,:target=>"blank" do %>
  <h3>
  	<%= tutorial.title%> 
  	
	
		<% if tutorial.find_votes_for(:voter => current_user).size == 0 %>
  		<%= link_to like_tutorial_path(tutorial), method: :put, class: "" do %>
    	<span id="upvote" class="glyphicon glyphicon-chevron-up" 
    				style="color: rgb(222, 79, 34); font-size:24px;">
    	</span> 
    	<% end %>
   
    <% else %>
    <%= link_to like_tutorial_path(tutorial), method: :put, class: "" do %>
    	<span id="upvoted" class="glyphicon glyphicon-chevron-up" 
    				style="color: rgb(204, 204, 204);font-size:24px;">
    	</span> 
      <% end %>
    <%end%>
  
    </h3>
  <% end %>
  </div>
    <div class="col-md-2">
     <%= link_to user_path(tutorial.user), class: "tag-tooltip",
      :data => {:toggle=>"tooltip"},'data-original-title' => "#{tutorial.user.username}",
      'data-placement' => 'right' do %>
        <%= image_tag tutorial.user.image,:class=>"circular_small"%>
     <%end%>
  </div>
</div>

<div class = "row">
  <div class="col-md-10 ">
  <span class="give_comment">
     
      <%= link_to 'Discuss',tutorial_path(tutorial)  %>
  </span>
  <span class="postedby">
     Posted by:
      <%= link_to tutorial.user.username, user_path(tutorial.user) %>
  </span>
  <span class="posteddate">
    
	 <%=date_posted(tutorial.created_at)%>
	</span>
  <span class="upvotes">
    Upvotes:
    <%= tutorial.get_upvotes.size %>  
  </span>
  
	</div>

</div>
<div class="hr"><hr /></div>  
<script>
$(function() {
 
  $("span#upvote").hover(
       function () {
         $(this).removeAttr("style","color: rgb(212, 59, 44); font-size:24px;");
       }, 
      function () {
          $(this).attr("style", "color: rgb(222, 79, 34); font-size:24px;");
       }
     );
    
});

</script>

