<%= form_for @tutorial do |f|%>
	<div class="form-group">
		<%=f.label 'Submit a tutorial'%>	
	</div>

	<div class="form-group">
		<div class= "row">
			<div class='col-md-6 col-xs-12'>
		<%=f.text_field :title,placeholder:'Title',class:'form-control'%>
		</div>
		</div>
	</div>

	<div class="form-group">
		<div class= "row">
			<div class='col-md-6 col-xs-12'>
	
	<%=f.text_field :url,placeholder:'Link to the tutorial',class:'form-control'%>
	</div>
	</div>
	</div>
	
	<div class="form-group">
		<div class= "row">
			<div class='col-md-6 col-xs-12'>

	<%=f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
	</div>
	</div>
	</div>

<%end%>