
<div class="container-fluid">
	<p id="notice"><%= notice %></p>
  <%= render @tutorial  %>
  <div class="row">
	<%= link_to 'Back', tutorials_path %>
	</div>

<%= render 'comments/form'%>

<%= render 'comments/comments'%>
</div>

