<div class = "row">
  <div class="col-md-10 ">
	<%= link_to news_item.url, :target => "_blank" do %>

  <h3>
  	<%= news_item.title %> 
  	<%= news_item.get_upvotes.size %>
  	<% if news_item.find_votes_for(:voter => current_user).size == 0 %>
  		<%= link_to like_news_item_path(news_item), method: :put, class: "" do %>
    	<span id="upvote" class="glyphicon glyphicon-chevron-up" 
    				style="color: rgb(222, 79, 34); font-size:24px;">
    	</span> 
    	<% end %>
    <% else %>
    <%= link_to like_news_item_path(news_item), method: :put, class: "" do %>
    	<span id="upvoted" class="glyphicon glyphicon-chevron-up" 
    				style="color: rgb(204, 204, 204);font-size:24px;">
    	</span> 
      <% end %>
    <%end%>
  </h3>
	<%end%>
</div>

  <div class="col-md-2">
     <%= link_to user_path(news_item.user) do %>
        <%= image_tag news_item.user.image,:class=>"circular_small"%>
     <%end%>
  </div>
</div>

<div class = "row">
  <div class="col-md-10 ">
  <span class="give_comment">
     <%= link_to 'Discuss',news_item_path(news_item)  %>
  </span>
	<span class="postedby">
		 Posted by:
		 <%= link_to news_item.user.username, user_path(news_item.user) %>
	</span>

  <span class="posteddate">
    
    <%= date_posted(news_item.created_at)%>
  </span>
</div>

</div>
<div class="hr"><hr /></div>  

<script>
$(function() {
 
  $("span#upvote").hover(
       function () {
         $(this).removeAttr("style","color: rgb(212, 59, 44); font-size:24px;");
       }, 
      function () {
          $(this).attr("style", "color: rgb(222, 79, 34); font-size:24px;");
       }
     );
    
});

</script>

