
<div class = "row">
	<%= link_to news_item.url, :target => "_blank" do %>
  <h3>
  	<%= news_item.title %> 
  	<%= news_item.get_upvotes.size %>
  	<% if news_item.find_votes_for(:voter => current_user).size == 0 %>
  		<%= link_to like_news_item_path(news_item), method: :put, class: "" do %>
    	<span class="glyphicon glyphicon-arrow-up" 
    				style="color: rgb(222, 79, 34); font-size:24px;">
    	</span> 
    	<% end %>
    <% else %>
    <%= link_to like_news_item_path(news_item), method: :put, class: "" do %>
    	<span class="glyphicon glyphicon-arrow-up" 
    				style="color: rgb(255, 133, 52);font-size:24px;">
    	</span> 
      <% end %>
    <%end%>
  </h3>
	<%end%>
</div>

<div class = "row">
  <span class="comments">
     <%= link_to 'Discuss',news_item_path(news_item)  %>
  </span>
	<span class="postedby">
		 Posted by:
		 <%= link_to news_item.user.username, user_path(news_item.user) %>
	</span>

  <span class="posteddate">
    
    <%= date_posted(news_item.created_at)%>
  </span>
</div>

