<div class="container-fluid">
 	
		<p id="notice"><%= notice %></p>
  	<%= render @news_item  %>
	
	<div class="row">
		<%= link_to 'Back', news_items_path %>
	</div>
		<%= render 'comments/form'%>
		<%= render 'comments/comments'%>
</div>

