<%= form_for @review_request do |f|%>
	
	<div class="form-group">
	<%=f.label :title%>
	<%=f.text_field :title,class:'form-control'%>
	</div>

	<div class="form-group">
	<%=f.label :url%>
	<%=f.text_field :url,class:'form-control'%>
	</div>
	
	<div class="form-group">
	<%=f.label :feedback_request%>
	<%=f.text_area :feedback_request ,class:'form-control'%>
	</div>
	
	
	<%=f.label :platform%>
	<div class="form-group">

	<%= f.radio_button :platform, 'iOS', :checked => true %> 
  <%= label :platform, 'iOS' %>
  </div>
  
  <div class="form-group">
  <%= f.radio_button :platform, 'Android' %>
  <%= label :platform, 'Android' %>
  </div>
  
  <div class="form-group">
  <%= f.radio_button :platform, 'Windows phone' %>
  <%= label :platform, 'Windows Phone' %>
  </div>

	<div class="form-group">
	<%=f.submit 'Request Feedback', class: 'btn btn-primary btn-lg' %>
	</div>

<%end%>