<div class="row">
  <div class="col-md-10 ">
<%= link_to forum_thread do %>
  <h3>
  	<%= forum_thread.subject %> 
  	
    <% if forum_thread.find_votes_for(:voter => current_user).size == 0 %>
      <%= link_to like_forum_thread_path(forum_thread), method: :put, class: "" do %>
      <span id="upvote" class="glyphicon glyphicon-chevron-up" 
            style="color: rgb(222, 79, 34); font-size:24px;">
      </span> 
      <% end %>
    <% else %>
    <%= link_to like_forum_thread_path(forum_thread), method: :put, class: "" do %>
      <span id="upvoted" class="glyphicon glyphicon-chevron-up" 
            style="color: rgb(204, 204, 204);font-size:24px;">
      </span> 
      <% end %>
    <%end%>
    
  </h3>
<% end %>
</div>
<div class="col-md-2">
     <%= link_to user_path(forum_thread.user) do %>
        <%= image_tag forum_thread.user.image,:class=>"circular_small"%>
     <%end%>
  </div>
</div>
<div class = "row">
  <div class="col-md-10 ">
   
  <span class="give_comment">
    <%= link_to 'Discuss',forum_thread_path(forum_thread)  %>
  </span>
	 
	<span class="postedby">
		 posted by:
		<%= link_to forum_thread.user.username, user_path(forum_thread.user) %>
	</span>
  <span class="posteddate">
  <%= date_posted(forum_thread.created_at)%>
  </span>
  <span class="posteddate">
    Upvotes:
  <%= forum_thread.get_upvotes.size %> 
  </span>
  
	</div>

</div>
<div class="hr"><hr /></div>  

<script>
$(function() {
 
  $("span#upvote").hover(
       function () {
         $(this).removeAttr("style","color: rgb(212, 59, 44); font-size:24px;");
       }, 
      function () {
          $(this).attr("style", "color: rgb(222, 79, 34); font-size:24px;");
       }
     );
    
});

</script>
