<div class="container-fluid">
<p id="notice"><%= notice %></p>

  <%= render @forum_thread  %>

	<div class="row">
		<%= link_to 'Back', forum_threads_path %>
	</div>
	<%= render 'comments/form'%>
	<%= render 'comments/comments'%>
</div>

