        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                
                <li>
                    <%=link_to 'News', news_items_path%>
                </li>             
                <li>
                    <%=link_to 'Tutorials', tutorials_path%>
                </li>
                <li>
                     <%=link_to 'ToolBox', tools_path%>
                </li>
                <li>
                     <%=link_to 'Submit', new_submission_path%>
                </li>

                 <li>
                     <%=link_to 'My Collections',collections_path %>
                </li>
            </ul>
        </div>